@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: ##F8717180; 
    border-radius: 4px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #2b6cb0; 
  }
  
  ::-webkit-scrollbar-track {
    background: #f0f0f0; 
    border-radius: 4px;
  }
  

  * {
    scrollbar-width: thin; 
    scrollbar-color: ##F8717180 #f0f0f0; 
  }
  
  .install-button {
    transition: background-color 0.3s ease;
}

.install-button:hover {
    background-color: #F8717180; 
}